<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">
		{# Yannick - Correction #10 #}
		<title>EVOMEAL</title>
		{# I remove the 'TM' #}
		{# Yannick - Correction #10 #}
		{# Bootstrap: CSS #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> {# Bootstrap: CSS #}
		{# Google Fonts : Raleway #}
		<link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap" rel="stylesheet">
		{# Google Fonts : Raleway #}
		{# Favico #}
		<link rel="icon" type="image/x-icon" href="{{ asset('icons/favicon.ico') }}"> {# Favico #}
		{# Font-awesome #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/> {# Font-awesome #}

		{# Base CSS #}
		<link rel="stylesheet" href="{{ asset('styles/base.css') }}"> {# Base CSS #}

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{# Block for style sheets #}
			{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}
		{# Block for style sheets #}
	</head>

	<body
		class="container-fluid">
		{# NavBar #}
		{% include "core/navbar.html.twig" %}
		{# NavBar #}

		{# Page content #}{% block body %}
		{% endblock %}
		{# Page content #}

		{# Footer #}{% include "core/footer.html.twig" %}
		{# Footer #}

		{# Bootstrap: JS #}<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"> </script>
		{# Bootstrap: JS #}
		{# Axios: JS #}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		{# Axios: JS #}
		{# JQuery: JS #}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		{# JQuery: JS #}
		{# JQuery mask: JS #}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js" integrity="sha512-oJCa6FS2+zO3EitUSj+xeiEN9UTr+AjqlBZO58OPadb2RfqwxHpjTU8ckIC8F4nKvom7iru2s8Jwdo+Z8zm0Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		{# JQuery mask: JS #}

		{# Block for javascript sheets #}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		{# Block for javascript sheets #}
	</body>
</html>
