<div
	class="bg-dark text-white row text-center p-4">
	{# Top section #}
	<section>
		<div class="col-auto py-2">
			<a class="btn btn-floating border border-0" role="button" href="mailto:1875009@cstj.qc.ca" target="_blank">
				<img class="w-50" src="{{ asset('icons/outlook.png') }}" title="Outlook">
			</a>
		</div>
		<hr>
	</section>
	{# Top section #}
	{# Middle section #}
	<section class="d-flex justify-content-center">
		<div class="col-lg-4 col-md-7">
			<h4 class="text-uppercase my-3">Olivier Bourgault (1875009)</h4>
			<div>
				<ul class="list-unstyled">
					<li>
						<p>Étudiant en
							<a href="https://www.cstj.qc.ca/programmes/techniques-de-linformatique/" target="_blank" class="text-white">techniques de l'informatique</a>
							<br>au Cégep de Saint-Jérôme.</p>
					</li>
					<li>
						<a href="https://www.cstj.qc.ca/" target="_blank"><img class="shadow-lg p-3 bg-body rounded" src="{{ asset('images/companiesLogos/cstjLogo.png') }}" title="Cégep de Saint-Jérôme"></a>
					</li>
					<li>
						<p class="my-3">Ce site à été produit dans un cadre pédagogique pour un cours. Les produits affichés ne sont pas disponibles à l'achat. Il s'agit d'un commerce fictif.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	{# Middle section #}
	{# Bottom section #}
	<div class="bg-black text-center p-3">
		©EVOMEAL - 2023
	</div>
	{# Bottom section #}
</div>
