@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    margin: 0;
    overflow: hidden;
}

.player {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.metadata {
    margin-bottom: 20px;
}

.metadata #albumIconContainer {
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 15px;
    width: fit-content;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.metadata i {
    font-size: 10em;
    margin-bottom: 10px;
    animation: fadeIn 1s ease-in-out;
}

.metadata h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
    animation: slideIn 1s ease-in-out;
}

.metadata p {
    font-size: 18px;
    margin: 5px 0 0;
    color: #666;
    animation: slideIn 1s ease-in-out;
}

.metadata input {
    animation: fadeIn 1s ease-in-out;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.controls button {
    margin: 10px;
    padding: 10px 20px;
}

.controls button,
.metadata input[type="range"] {
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.controls button i {
    margin-right: 5px;
}

.controls button:hover,
.metadata input[type="range"]:hover {
    background-color: #ebebeb;
    transform: scale(1.1);
}

.metadata input[type="range"] {
    writing-mode: vertical-lr;
    direction: rtl;
}

#volumeContainer {
    left: 95%;
    margin-top: -15vh;
    margin-bottom: 5vh;
    position: relative;
}

.progress-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.progress-container span {
    margin: 0 10px;
    font-size: 14px;
    color: #333;
}

.progress-container input[type="range"] {
    flex: 1;
    margin: 0 10px;
}

.playlist {
    margin-top: 20px;
    text-align: left;
    padding: .5em;
    height: 20em;
    overflow: auto;
    overflow-x: hidden;
}

.playlist ul {
    list-style: none;
    padding: 0;
}

.playlist li {
    padding: 10px;
    margin: 5px 0;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.playlist li:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.playlist li.active {
    background-color: #007bff;
    color: white;
}

#volumeContainer .tooltip {
    opacity: 0;
    position: absolute;
    padding: 1rem;
    padding-bottom: .25rem;
    border-radius: 0.4rem;
    background: black;
    color: white;
    margin-top: 2rem;
    margin-left: -5rem;
    font-size: .15em;
    transition: opacity 1s;
}

#volumeContainer:hover .tooltip {
    opacity: 1;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 99%;
    border-style: solid;
    border-width: 1rem;
    border-color: black transparent transparent transparent;
    transform: rotate(270deg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}