body{ /* Propriétés CSS à attribuer au corps de la page */
	font-family:arial,verdana; /* Les polices à utiliser sont "arial" ou "verdana" */
	font-size:1.5em; /* La taille de la police est fixée à "1.5em" */
	width:100%; /* La largeur du corps prendra "100%" de la place disponoible */
	margin:0 auto; /* Les marges de la page seront de "0" verticalement et placé "auto" horizontalement */
} /* Fin des propriétés pour le corps de la page */

.container{ /* Propriétés CSS modifié à la classe container */
	width:85%; /* La largeur sera de 85% maintenant */
} /* Fin des modifications pour la class="container" */

.change{ /* Propriétés CSS de la classe change */
	font-weight:bold; /* Le texte sera en gras */
	padding-left:3px; /* Les marges intérieurs seront de 3 pixels */
	color:red; /* Le texte sera de couleur rouge */
} /* Fin du bloc pour ".change" */

.changement{ /* Propriétés CSS de la classe changement */
	padding-left:3px; /* Les marges intérieurs seront de 3 pixels */
} /* Fin du bloc pour ".changement" */