<!--
//------------------------------------------
//   fichier : app.component.html
//   Dev : Olivier Bourgault
//   Date: 2021-11-21
//   Projet: JourVie
//------------------------------------------
-->

<div class='container'>
  <section id='entete'>
    <h1>{{title}}</h1>
    <p *ngIf='modification'>modifié par Olivier et Bourgault</p>
  </section>

  <app-connexion
  (connexionReussie)=onConnexionReussie($event)
  (connexionReussie)=lsttac.onConnexionReussie($event)
  (connexionAdmin)=onConnexionAdmin()
  (connexionAdmin)=admin.onConnexionAdmin()>
  </app-connexion>

  <app-liste-taches
  #lsttac
  (demarrerSession)=jour.onDemarrerSession($event)
  (lectureJournal)=jour.onLectureJournal($event)>
  </app-liste-taches>

  <app-journal
  #jour
  [developpeur]="developpeurConnecte"
  (changementTache)='lsttac.onChangementTache($event)'>
  </app-journal>

  <app-retroaction></app-retroaction>

  <app-admin #admin></app-admin>

</div>